<h2>Settings</h2>
<div>
    <h4>Game/API Status:</h4>
     <div><span>{{this.currentStatus}}</span></div> 
</div>
<div>
    <h4>Username:</h4>
    <div><span>Current: </span>{{spaceTrader.getUserName()}}</div>
    <div><label for="uName">New: </label><input #uNameInput type="text" id="uName" name="uName" (keyup)="this.newUserName = uNameInput.value;"></div><br>
    <div><button (click)="this.spaceTrader.setUserName(this.newUserName);">Set New Username</button></div>
</div>
<div>
    <h4>Token: </h4>
    <div><span>Current: </span>{{spaceTrader.getToken()}}</div>
    <div><label for="token">New: </label><input #tokenInput type="text" id="token" name="token" (keyup)="this.newToken = tokenInput.value;"></div><br>
    <div><button (click)="this.spaceTrader.setToken(this.newToken);">Set New Token</button></div><br>
    <div><button (click)="this.spaceTrader.createUser();">Get New Token</button></div>
</div>